<div style="color:white;
           display:fill;
           border-radius:5px;
           background-color:#5642C5;
           font-size:200%;
           font-family:Arial;letter-spacing:0.5px">

<p width = 20%, style="padding: 10px;
              color:white;">
Pandas: Basic Manipulation of Series/DataFrames
</p>
</div>

Data Science Cohort Live NYC Nov 2023
<p>Phase 1</p>
<br>
<br>

<div align = "right">
<img src="Images/flatiron-school-logo.png" align = "right" width="200"/>
</div>

#### pandas Series and DataFrames: changing attributes and values
- Cleaning and altering column/index names
- Creating and removing columns/rows
- Altering values 
- Changing datatypes

Import our libraries:

In [13]:
import numpy as np
import pandas as pd

Load in our trusty cereal dataset again:

In [14]:
cereal_df = pd.read_csv('Data/cereal.csv')
cereal_df.columns

Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

Want to rename some of these columns.

#### Renaming columns 

- DataFrame.rename(columns = ___)
- columns takes in a dict that maps column names.

In [17]:
cereal_df.shape
# cereal_df.rename(columns = {'mfr': 'manufacturer', 'carbo': 'carbohydate', 'potass': 'potassium  '})

(77, 16)

In [38]:
cereal_df.head(2)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679

Column names are still the same. What gives?

Dataframe.rename() method creates new dataframe by default.

In [39]:
cereal_df = cereal_df.rename(columns = {'mfr': 'manufacturer', 'carbo': 'carbohydate', 'potass': 'potassium  '})

This is equivalent to reassigning (inplace = ... argument)

In [40]:
cereal_df.rename(columns = {'mfr': 'manufacturer', 'carbo': 'carbohydate', 'potass': 'potassium  '}, inplace = True)

In [41]:
cereal_df.head(2)

,name,manufacturer,type,calories,protein,fat,sodium,fiber,carbohydate,sugars,potassium,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679

Let's take a look at the potassium column.

In [42]:
cereal_df['potassium']

KeyError: 'potassium'

What happened?

In [43]:
cereal_df.columns

Index(['name', 'manufacturer', 'type', 'calories', 'protein', 'fat', 'sodium',
       'fiber', 'carbohydate', 'sugars', 'potassium  ', 'vitamins', 'shelf',
       'weight', 'cups', 'rating'],
      dtype='object')

Note the trailing white space. Many imports from files have this problem.

What string command do we need to trim white space?

The way NOT to do it (works but not efficient):

In [44]:
[col.strip() for col in cereal_df.columns]

['name',
 'manufacturer',
 'type',
 'calories',
 'protein',
 'fat',
 'sodium',
 'fiber',
 'carbohydate',
 'sugars',
 'potassium',
 'vitamins',
 'shelf',
 'weight',
 'cups',
 'rating']

The way to take advantage of Pandas speed (vectorized str method):

In [45]:
cereal_df.columns = cereal_df.columns.str.strip()
print(cereal_df.columns)

Index(['name', 'manufacturer', 'type', 'calories', 'protein', 'fat', 'sodium',
       'fiber', 'carbohydate', 'sugars', 'potassium', 'vitamins', 'shelf',
       'weight', 'cups', 'rating'],
      dtype='object')

Now look at potassium column:

In [46]:
cereal_df['potassium'].head(3)

0    280
1    135
2    320
Name: potassium, dtype: int64

#### Removing Columns

The `shelf` column: shelf in cereal aisle of particular grocery store.

- We dont care about this column.

In [47]:
cereal_df.drop(columns = ['shelf'], inplace = True)
cereal_df.columns

Index(['name', 'manufacturer', 'type', 'calories', 'protein', 'fat', 'sodium',
       'fiber', 'carbohydate', 'sugars', 'potassium', 'vitamins', 'weight',
       'cups', 'rating'],
      dtype='object')

#### Creating new columns

The 'type' column has only two unique entries 'C' and 'H' (cold or hot cereal?):

- Can use Boolean condition to create a series (Pandas magic).

Is this a hot cereal? Convert Boolean to integer.

- False = 0
- True = 1

In [48]:
is_hot = (cereal_df.type == 'H').astype('int')


print(is_hot)
print(is_hot.value_counts())

0     0
1     0
2     0
3     0
4     0
     ..
72    0
73    0
74    0
75    0
76    0
Name: type, Length: 77, dtype: int64
type
0    74
1     3
Name: count, dtype: int64

Store this as a new column by:
- DataFrame[new_column_name] = series

In [49]:
cereal_df['is_hot'] = is_hot
cereal_df.head()

,name,manufacturer,type,calories,protein,fat,sodium,fiber,carbohydate,sugars,potassium,vitamins,weight,cups,rating,is_hot
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,1.0,0.33,68.402973,0
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,1.0,1.00,33.983679,0
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,1.0,0.33,59.425505,0
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,1.0,0.50,93.704912,0
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,1.0,0.75,34.384843,0

#### Dealing with the index and rows:
- Clearly, the 'name' column should be our index.
- .set_index(col_name) will set that column to the row index.
- .set_index() can also take in a list or an index object.

In [53]:
cereal_df.set_index('name', inplace = True)
cereal_df.head()

,manufacturer,type,calories,protein,fat,sodium,fiber,carbohydate,sugars,potassium,vitamins,weight,cups,rating,is_hot
name,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,1.0,0.33,68.402973,0
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,1.0,1.00,33.983679,0
All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,1.0,0.33,59.425505,0
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,1.0,0.50,93.704912,0
Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,1.0,0.75,34.384843,0

- Sometimes we want to reset the index.
- This takes index to a column again.
- Dataframe index is integer-indexed.

In [54]:
cereal_df.reset_index(inplace = True)
cereal_df.head()

,name,manufacturer,type,calories,protein,fat,sodium,fiber,carbohydate,sugars,potassium,vitamins,weight,cups,rating,is_hot
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,1.0,0.33,68.402973,0
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,1.0,1.00,33.983679,0
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,1.0,0.33,59.425505,0
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,1.0,0.50,93.704912,0
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,1.0,0.75,34.384843,0

Dropping rows by index name:

In [ ]:
cereal_df.set_index('name', inplace = True)
allbran_dropped = cereal_df.drop('All-Bran') # can also take a list of index names or an index object
allbran_dropped.head(4)

In [59]:
two_dropped = cereal_df.drop(['100% Bran', 'Almond Delight'])
two_dropped.head()

,manufacturer,type,calories,protein,fat,sodium,fiber,carbohydate,sugars,potassium,vitamins,weight,cups,rating,is_hot
name,,,,,,,,,,,,,,,
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,1.0,1.00,33.983679,0
All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,1.0,0.33,59.425505,0
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,1.0,0.50,93.704912,0
Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1.0,0.75,29.509541,0
Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,1.0,1.00,33.174094,0

#### Altering dataframe/series values

- It's really important to use the .loc[] accessor when assigning data to dataframe/series selections.
- Here's why:

Select all cold cereals and look at their rating:

In [ ]:
cereal_df[cereal_df["type"] == 'C']["rating"]

Now, add 5 to this selection.

In [ ]:
cereal_df[cereal_df["type"] == 'C']["rating"] + 5

Assign this modification to our original selection:

In [64]:
cereal_df[cereal_df["type"] == 'C']["rating"] = cereal_df[cereal_df["type"] == 'C']["rating"] + 5

/var/folders/_x/3hvhfs550_j07qx5c00fkgnc0000gn/T/ipykernel_65863/465635476.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cereal_df[cereal_df["type"] == 'C']["rating"] = cereal_df[cereal_df["type"] == 'C']["rating"] + 5

Uh...oh. A warning was issued. Let's see what our assignment did:

In [65]:
cereal_df[cereal_df["type"] == 'C']["rating"]

name
100% Bran                    68.402973
100% Natural Bran            33.983679
All-Bran                     59.425505
All-Bran with Extra Fiber    93.704912
Almond Delight               34.384843
                               ...
Triples                      39.106174
Trix                         27.753301
Wheat Chex                   49.787445
Wheaties                     51.592193
Wheaties Honey Gold          36.187559
Name: rating, Length: 74, dtype: float64

No change was made to original dataframe.

.loc accessor[] accesses original dataframe in memory. Thus:

In [ ]:
cereal_df.loc[cereal_df["type"] == 'C', "rating"] += 5
cereal_df.loc[cereal_df["type"] == 'C', "rating"]

#### Datetime indices
- Pandas supports datetime types
- Series/DataFrame index: special operations/functionality for datetimes

Load MTA turnsile maintenance dataset to see pandas datetimes in action!

In [ ]:
turnstile_df = pd.read_csv('Data/turnstile_180901.txt')
turnstile_df.head(2)

In [ ]:
turnstile_df['DATE']

In [ ]:
turnstile_df['TIME']

Both in string format.

- Join date and time.
- Assign to new column.

In [ ]:
    turnstile_df['DATETIME'] = turnstile_df['DATE'] + ' ' + turnstile_df['TIME']
    turnstile_df.drop(columns = ['DATE', 'TIME'], inplace = True)
    turnstile_df['DATETIME'].head()

In [ ]:
turnstile_df.info()

- Convert string to datetime type.
- pd.to_datetime(): can intelligently parse various common datetime string formats
- %m/%d/%Y date format parsing.

In [ ]:
 turnstile_df['DATETIME'] = pd.to_datetime(turnstile_df['DATETIME'])

In [ ]:
turnstile_df.head()

In [ ]:
turnstile_df['DATETIME']

This is a datetime series. Datetime series have vectorized methods and attributes that are very useful.
- Round date to nearest start of week.
- Get named day of week for date.

In [ ]:
turnstile_df['DATETIME'].dt.round('7D')

In [ ]:
turnstile_df['DATETIME'].dt.day_name()

Set column to our datetime index.

In [ ]:
turnstile_df.set_index('DATETIME', inplace = True)

We now have a datetime index.

In [ ]:
turnstile_df['2018-08-25':'2018-08-27']

Pandas datetime indexes: nice functionality for transforming time series.

- Will get into this later.